<div class="section speakers">
  <h1>Keynotes</h1>

  <div class="list">
    <div>
      <div class="bio">
        <img src="/speakers/jeremy-daly.jpg">
        <h3>Jeremy Daly</h3>
        <h4>CTO, <a target="_blank" href="https://alertme.news">AlertMe</a></h4>
        <h4><a target=“_blank” href="https://twitter.com/jeremy_daly" target="_blank">@jeremy_daly</a></h4>

        <span>Jeremy is a passionate <strong>serverless advocate</strong>, AWS Serverless Hero, and senior technology leader with more than twenty years of experience building web and mobile applications.<br /><br />Jeremy is an active member of the serverless community, creating and contributing to open source serverless projects, and frequently consulting with companies looking to adopt serverless. Jeremy also writes extensively about serverless on his blog (<a target=“_blank” href="https://jeremydaly.com">jeremydaly.com</a>) and publishes Off-by-none, a weekly newsletter that focuses on all things serverless (<a target=“_blank” href="https://offbynone.io">offbynone.io</a>).<br /><br />He is currently the CTO of AlertMe.</span>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="/speakers/guillermo-rauch.jpg">
        <h3>Guillermo Rauch</h3>
        <h4>Founder, <a target="_blank" href="https://zeit.co">ZEIT</a></h4>
        <h4><a target=“_blank” href="https://twitter.com/rauchg" target="_blank">@rauchg</a></h4>

        <span>
          Guillermo is the founder of ZEIT, <strong>co-creator of <a target=“_blank” href="https://now.sh">Now</a> and Next.js</strong>, and former CTO and co-founder of LearnBoost and Cloudup, acquired by <a target=“_blank” href="https://wordpress.com">wordpress.com</a> in 2013.<br /> He's a former mentor of an Open Source Engineering class organized and pioneered by Stanford, with students from Harvard, MIT, Carnegie Mellon, UPenn, Columbia and others.<br /><br />

He's the creator of <a target=“_blank” href="https://socket.io">socket.io</a>, one of the most popular JavaScript projects on GitHub, and of the first MongoDB ORM for Node.js: MongooseJS. Before that he was a core developer of the MooTools JavaScript framework. He's the author of "Smashing Node.js" published by Wiley in 2012, best-selling book about Node.js on Amazon in multiple programming categories.
        </span>
      </div>
    </div>
  </div>

  <div>&nbsp;</div>

  <h1>Speakers</h1>

  <div class="list">
    <div>
      <div class="bio">
        <a href="/talk-guillermo-rauch.html"><img src="/speakers/guillermo-rauch.jpg"></a>
        <h3>Guillermo Rauch</h3>
        <a href="https://twitter.com/rauchg" target="_blank">@rauchg</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-jessica-tibaldi.html"><img src="/speakers/jessica-tibaldi.jpg"></a>
        <h3>Jessica Tibaldi</h3>
        <a href="https://twitter.com/_jetiba" target="_blank">@_jetiba</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-andreas-grimm.html"><img src="/speakers/andreas-grimm.jpg"></a>
        <h3>Andreas Grimm</h3>
        <a href="https://twitter.com/_andreasgrimm" target="_blank">@_andreasgrimm</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-danilo-poccia.html"><img src="/speakers/danilo-poccia.jpg"></a>
        <h3>Danilo Poccia</h3>
        <a href="https://twitter.com/danilop" target="_blank">@danilop</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-victoria-bernard.html"><img src="/speakers/victoria-bernard.jpg"></a>
        <h3>Victoria Bernard</h3>
        <a href="https://twitter.com/Miss_Vee22" target="_blank">@Miss_Vee22</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-nitzan-shapira.html"><img src="/speakers/nitzan-shapira.jpg"></a>
        <h3>Nitzan Shapira</h3>
        <a href="https://twitter.com/nitzanshapira" target="_blank">@nitzanshapira</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-marcia-villalba.html"><img src="/speakers/marcia-villalba.jpg"></a>
        <h3>Marcia Villalba 🦄</h3>
        <a href="https://twitter.com/mavi888uy" target="_blank">@mavi888uy</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-soenke-ruempler.html"><img src="/speakers/soenke-ruempler.jpg"></a>
        <h3>Soenke Ruempler</h3>
        <a href="https://twitter.com/s0enke" target="_blank">@s0enke</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-sheen-brisals.html"><img src="/speakers/sheen-brisals.jpg"></a>
        <h3>Sheen Brisals</h3>
        <a href="https://twitter.com/sheenbrisals" target="_blank">@sheenbrisals</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-alessandro-gaggia.html"><img src="/speakers/alessandro-gaggia.jpg"></a>
        <h3>Alessandro Gaggia</h3>
        <a href="https://twitter.com/besharpsrl" target="_blank">@besharpsrl</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-farmin-farzin.html"><img src="/speakers/farmin-farzin.jpg"></a>
        <h3>Farmin Farzin</h3>
        <a href="https://twitter.com/FarminFarzin" target="_blank">@FarminFarzin</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-ory-segal.html"><img src="/speakers/ory-segal.jpg"></a>
        <h3>Ory Segal</h3>
        <a href="https://twitter.com/orysegal" target="_blank">@orysegal</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-gunnar-grosch.html"><img src="/speakers/gunnar-grosch.jpg"></a>
        <h3>Gunnar Grosch</h3>
        <a href="https://twitter.com/gunnargrosch" target="_blank">@gunnargrosch</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="/talk-bret-mcgowen.html"><img src="/speakers/bret-mcgowen.jpg"></a>
        <h3>Bret McGowen</h3>
        <a href="https://twitter.com/bretmcg" target="_blank">@bretmcg</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <a href="#"><img src="/speakers/jeremy-daly.jpg"></a>
        <h3>Jeremy Daly</h3>
        <a href="https://twitter.com/jeremy_daly" target="_blank">@jeremy_daly</a>
      </div>
    </div>
  
  </div>
</div>
